networks:
  web:
    external: true

volumes:
  auth:
    driver: local
    driver_opts: 
      type: none
      o: bind
      device: ${LOCAL_DEVICE}
  cache:
    driver: local
    driver_opts: 
      type: none
      o: bind
      device: ${LOCAL_DEVICE}

# OBS: Caso n칚o queira usar os volumes de modo que o container armazene em um diret칩rio local configurado por voc칡, 
# comente as linhas de volumes (auth e cache) que tem um # na frete e descomente as linhas que est칚o logo abaixo, assim o container ir치 criar os diret칩rios
# dentro do pr칩prio container e n칚o ir치 persistir os dados ap칩s o mesmo ser removido.

services:
  whatsapp-api:
    image: latixa12/api:latest
    container_name: whatsapp-api
    networks: [web]
    volumes:
      - auth:/app/.wwebjs_auth   #
      - cache:/app/.wwebjs_cache #
      #- .wwebjs_auth:/app/.wwebjs_auth
      #- .wwebjs_cache:/app/.wwebjs_cache
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=web"
      - "traefik.http.routers.whatsapp-api.rule=Host(`${DOMAIN}`) && PathPrefix(`/api`)"
      - "traefik.http.routers.whatsapp-api.entrypoints=websecure"
      - "traefik.http.routers.whatsapp-api.tls.certresolver=le"
      - "traefik.http.services.whatsapp-api.loadbalancer.server.port=3000"

      # 游댏 Middleware basicAuth
      - "traefik.http.routers.whatsapp-api.middlewares=basic-auth-apizap@docker"
      - 'traefik.http.middlewares.basic-auth-apizap.basicauth.users=${BASIC_AUTH}'

